.drawer-container {
  height: 100%;
}

.drawer {
  width: 100px;
}

a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.recordbutton {
  cursor: hand;
}

button.play {
  color: rgb(98, 204, 98);
}

button.stop {
  color: red;
}