.drawer-container {
  height: 100%;
}

// .drawer {
//   width: 100px;
// }

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 10;
}

.mat-sidenav,
.mat-sidenav-content {
  padding: 24px;
}

a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
